* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e9ecef;
}

header {
    background-color: #333;
    color: white;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba((0,0,0,0,1), green, blue, alpha);
}

.nav_list {
    list-style-type: none;
    padding: 1rem 0 ;
}

.nav_list li {
    display: inline;
    margin-right: 0 10px;
}

.nav_list a:hover {
    text-decoration: underline;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;

}
h2{
    color: #333;
    margin-bottom: 10px;

}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    .nav_list li{
        display: block;
        margin: 10px 0;
    }
    .main {
        padding: 10px;
    }
}